* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    background-color: #262727;
    color: white;
    font-size: 30px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

.container .choise:nth-child(1) {
    background-color: #ff8e8e;
}
.container .choise:nth-child(2) {
    background-color:#ffa9f9;
}
.container .choise:nth-child(3) {
    background-color:#7cd3fc;
}

.choise {
    width: 170px;
    height: 170px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 10px solid transparent;
    transition: all 0.2s ease-in;
}
.choise:hover{
    transition: all 0.2s ease-out;
    border-color: #262727;
    opacity: 0.5;
}

.choise img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}


.counts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 100px;
    height: 300px;
    font-size: 30px;
}
.counts div{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
#usercounter,
#c-counter
{
    font-size: 40px;
    font-weight: 700;
}

.result{
    width: 100%;
    text-align: center;
}
.result p {
    background-color: black;
    padding: 20px;
    color: white;
    display: inline-block;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

@media only screen and (max-width:390px) {
    .choise {
        width: 80px !important;
        height: 80px !important;
    }
    .choise img {
        width: 50px !important;
        height: 50px !important;
    }
    h1{
        font-size: 24px;
    }

    .result p {
        font-size: 18px;
        padding: 15px !important;
    }
    .counts {
        font-size: 20px;
    }

    
#usercounter, #c-counter {
    font-size: 29px;
}
}